.auth-layout {

    width: 100%;
    min-height: 100vh;

    background-size: cover;
    background-position: center;

}


.auth-overlay {

    width:100%;
    min-height:100vh;

    display:flex;

    justify-content:center;
    align-items:center;

    background:
    linear-gradient(
        rgba(0,0,0,0.55),
        rgba(0,0,0,0.55)
    );

    padding:20px;

}


.auth-card {

    width:430px;

    padding:45px 40px;

    border-radius:25px;


    background:

    rgba(255,255,255,0.14);


    backdrop-filter:blur(20px);

    -webkit-backdrop-filter:blur(20px);


    border:

    1px solid rgba(255,255,255,0.25);


    box-shadow:

    0 25px 70px rgba(0,0,0,0.45);


    animation:

    fadeIn 0.7s ease;

}



@keyframes fadeIn {

    from {

        opacity:0;

        transform:translateY(30px);

    }


    to {

        opacity:1;

        transform:translateY(0);

    }

}



@media(max-width:576px){

    .auth-card{

        width:100%;

        padding:35px 25px;

    }

}