/* File: src/styles/auth.css */

.auth-page {

    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 20px;

    background:
        linear-gradient(
            rgba(0,0,0,0.55),
            rgba(0,0,0,0.55)
        ),
        url("../assets/images/hospital-bg.png");

    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;

}