.card-custom{

    background:var(--card);

    border:none;

    border-radius:var(--radius);

    box-shadow:var(--shadow);

    padding:24px;

}

.btn-primary-custom{

    background:var(--primary);

    color:white;

    border:none;

    border-radius:10px;

    padding:10px 22px;

    transition:.3s;

}

.btn-primary-custom:hover{

    background:var(--primary-hover);

}